.multiselectWrapper{
    width: 100%;
    position: relative;

    *{
        font-family: 'Helvetica_Neue_LT_GEO_400';
    }

    .selectedTags{
        width: 100%;
        border: 0.0625rem solid $Day-Steelgrey06;
        position: relative;
        padding: 1.25rem 1rem;
        border-radius: 0.25rem;

        .selectLabel{
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translate(0,-50%);
            transition: $Default-Transition;

            span{
                transition: $Default-Transition;
                color: $Day-Steelgrey11;
                font-size: 0.875rem;
            }
        }

        .selectArrow{
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(0,-50%);
            cursor: pointer;
            transition: $Default-Transition;
            @include centerEl;

            svg{
                width: 0.75rem;
            }

            &.expanded{
                transform: rotate(-180deg) translateY(0.3125rem);
            }
        }

        .selectedTagsList{
            width: 100%;
            height: 100%;
            @include flex(flex-start,center,row,0.3125rem);
            align-items: flex-start;

            .singleTag{

                &.hidden{
                    display: none;
                }
                span{
                    color: $Day-Steelgrey20;
                    font-size: 0.875rem;
                    white-space: nowrap;
                }
            }

            .tagsCount{
                display: none;
                position: none;
                span{
                    color: $Main-Blue-Light;
                }

                &.visible{
                    display: block;
                }
            }
        }
    }

    .searchWrapper{
        padding-bottom: 0.625rem;
    }

    .collapsableOptions{
        width: 100%;
        max-height: 0;
        opacity: 0;
        transition: $Default-Transition;
        border: 0.0625rem solid $Day-Steelgrey06;
        border-radius: 0.25rem;
        background: $Day-Steelgrey00;
        position: absolute;
        top: calc(100% + 0.25rem);
        left: 0;
        z-index: 80;
        padding: 1rem;
        box-shadow: 0 0 0.625rem $Day-Steelgrey05;
        pointer-events: none;

        &.expanded{
            max-height: 28rem;
            opacity: 1;
            overflow: hidden;
            pointer-events: all;
        }
    }

    .msgText{
        margin-top: 0.5rem;
        text-align: left;

        p{
            font-size: 0.75rem;
            word-wrap: break-word;
        }
    }

    &.focused{
        .selectedTags{
            border: 0.0625rem solid $Main-Blue-Light !important;

            .selectLabel{
                top: 0.5rem;
                span{
                    font-size: 0.75rem;
                }
            }
        }
    }

    &.unfocused{
        .selectedTags{
            border: 0.0625rem solid $Day-Steelgrey06 !important;
        }
    }

    &.disabled{
        *{
            pointer-events: none;
            color: $Day-Steelgrey09 !important;
            user-select: none;
        }
        .selectedTags{
            border: 0.0625rem solid $Day-Steelgrey06;
        }

        .selectArrow{
            svg{
                opacity: .6;
            }
        }

    }

    &.small{
        .selectedTags{
            height: 2.625rem;
        }
    }

    &.medium{
        .selectedTags{
            height: 3rem;
        }
    }

    &.large{
        .selectedTags{
            height: 3.5rem;
        }
    }

    &.error,&.success{
        .msgText > p{
            font-size: 0.75rem;
        }
    }

    &.error{
        .selectedTags{
            border: 0.0625rem solid $Day-Negative100 !important;
        }

        .msgText{
            p{
                color: $Day-Negative100;
            }
        }
    }
    &.success{
        .selectedTags{
            border: 0.0625rem solid $Day-Positive100 !important;
        }
        .msgText{
            p{
                color: $Day-Positive100;
            }
        }
    }
}

:global(body.theme_dark){
    .multiselectWrapper{

        &.unfocused{
            .selectedTags{
                border: 0.0625rem solid $Night-Steelgrey09 !important;   
            }
        }

        .selectedTags{
            border: 0.0625rem solid $Night-Steelgrey09;
            background: $Night-Steelgrey06;

            .selectLabel{
                span{
                    color: $Night-Steelgrey12;
                }
            }

            .selectedTagsList{
                .singleTag{
                    span{
                        color: $Night-Steelgrey20;
                    }
                }
            }
        }

        .collapsableOptions{
            border: 0.0625rem solid $Night-Steelgrey09;
            background: $Night-Steelgrey06;
            box-shadow: 0 0 0.625rem rgba($Night-Steelgrey09,.2);
        }
    }
}