div.timePickerComponentWrapper{
    width: 100%;
    position: relative;
    .ant-picker{
        width: 100%;
        height: 2.625rem;
        border-radius: 0.25rem;

        .ant-picker-input{
            input{
                top: 0.3125rem;
                font-size: 0.875rem;

                &::placeholder{
                    color: rgba(0, 0, 0, 0.88);
                }
            }
        }
    }

    .timepickerCustomLabel{
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;
        left: 0.75rem;
        z-index: 20;
        transition: $Default-Transition;
        pointer-events: none;
        user-select: none;

        &.focused{
            top: 8px;
            transform: translate(none);
            span{
                font-size: 0.625rem;
            }
        }

        span{
            font-size: 0.75rem;
            color: $DAY_COLOR_TEXT_SOFT_DEFAULT;
            font-family: 'Helvetica_Neue_LT_GEO_Caps_400';
            transition: $Default-Transition;
        }
    }
}

body.theme_dark{
    .timePickerComponentWrapper{
        .timepickerCustomLabel{
            span{
                color: $NIGHT_COLOR_TEXT_STRONG_DEFAULT;
            }
        }
    }
}