$DAY_COLOR_TEXT_STRONG_INVERTED: #FFFFFF;
$DAY_COLOR_TEXT_STRONG_DARK: #141719;
$DAY_COLOR_TEXT_STRONG_LIGHT: #FFFFFF;
$DAY_COLOR_TEXT_STRONG_DEFAULT: #141719;
$DAY_COLOR_TEXT_SOFT_LIGHT: #FFFFFF99;
$DAY_COLOR_TEXT_SOFT_DEFAULT: #555F62;
$DAY_COLOR_TEXT_SOFT_INVERTED: #A5AAAC;
$DAY_COLOR_TEXT_SOFT_DARK: #141719B3;
$DAY_COLOR_TEXT_SOFTER_LIGHT: #FFFFFF80;
$DAY_COLOR_TEXT_SOFTER_DEFAULT: #6F787B;
$DAY_COLOR_TEXT_SOFTER_INVERTED: #899194;
$DAY_COLOR_TEXT_SOFTER_DARK: #14171999;
$DAY_COLOR_TEXT_DISABLED_LIGHT: #FFFFFF4D;
$DAY_COLOR_TEXT_DISABLED_DEFAULT: #A5AAAC;
$DAY_COLOR_TEXT_DISABLED_INVERTED: #555F62;
$DAY_COLOR_TEXT_DISABLED_DARK: #1417194D;
$DAY_COLOR_TEXT_PRIMARY_INITIAL: #0F437F;
$DAY_COLOR_TEXT_PRIMARY_HOVERED: #0D305C;
$DAY_COLOR_TEXT_PRIMARY_PRESSED: #071B38;
$DAY_COLOR_TEXT_SECONDARY_PRESSED: #2C1B84;
$DAY_COLOR_TEXT_SECONDARY_HOVERED: #3D23BC;
$DAY_COLOR_TEXT_SECONDARY_INITIAL: #5236E4;
$DAY_COLOR_TEXT_LINK_INITIAL: #0266EF;
$DAY_COLOR_TEXT_LINK_HOVERED: #0052C1;
$DAY_COLOR_TEXT_LINK_PRESSED: #003E99;
$DAY_COLOR_TEXT_POSITIVE_INITIAL: #138761;
$DAY_COLOR_TEXT_POSITIVE_HOVERED: #0E6B4D;
$DAY_COLOR_TEXT_POSITIVE_PRESSED: #0B513A;
$DAY_COLOR_TEXT_NEGATIVE_INITIAL: #DA1A1C;
$DAY_COLOR_TEXT_NEGATIVE_HOVERED: #B5070A;
$DAY_COLOR_TEXT_NEGATIVE_PRESSED: #8E0002;
$DAY_COLOR_TEXT_INFO_INITIAL: #0266EF;
$DAY_COLOR_TEXT_INFO_HOVERED: #0052C1;
$DAY_COLOR_TEXT_INFO_PRESSED: #003E99;
$DAY_COLOR_TEXT_WARNING_INITIAL: #8C6A00;
$DAY_COLOR_TEXT_WARNING_HOVERED: #715500;
$DAY_COLOR_TEXT_WARNING_PRESSED: #574100;
$DAY_COLOR_SURFACE_LOWER_INITIAL: #EEF1F1;
$DAY_COLOR_SURFACE_LOWER_HOVERED: #E1E4E5;
$DAY_COLOR_SURFACE_LOWER_PRESSED: #BCC1C2;
$DAY_COLOR_SURFACE_LOW_INITIAL: #F3F5F6;
$DAY_COLOR_SURFACE_LOW_HOVERED: #E9EBEC;
$DAY_COLOR_SURFACE_LOW_PRESSED: #D1D5D6;
$DAY_COLOR_SURFACE_CANVAS_INITIAL: #F9FAFA;
$DAY_COLOR_SURFACE_CANVAS_HOVERED: #F3F5F6;
$DAY_COLOR_SURFACE_CANVAS_PRESSED: #E9EBEC;
$DAY_COLOR_SURFACE_CANVAS_INVERTED_INITIAL: #1A1E1F;
$DAY_COLOR_SURFACE_CANVAS_INVERTED_HOVERED: #23282A;
$DAY_COLOR_SURFACE_CANVAS_INVERTED_PRESSED: #141719;
$DAY_COLOR_SURFACE_CANVAS_LIGHT_INITIAL: #F9FAFA;
$DAY_COLOR_SURFACE_CANVAS_LIGHT_HOVERED: #F3F5F6;
$DAY_COLOR_SURFACE_CANVAS_LIGHT_PRESSED: #E9EBEC;
$DAY_COLOR_SURFACE_CANVAS_DARK_INITIAL: #1A1E1F;
$DAY_COLOR_SURFACE_CANVAS_DARK_HOVERED: #23282A;
$DAY_COLOR_SURFACE_CANVAS_DARK_PRESSED: #141719;
$DAY_COLOR_SURFACE_HIGH_INITIAL: #FFFFFF;
$DAY_COLOR_SURFACE_HIGH_HOVERED: #F6F8F8;
$DAY_COLOR_SURFACE_HIGH_PRESSED: #EEF1F1;
$DAY_COLOR_SURFACE_HIGH_INVERTED_INITIAL: #31383A;
$DAY_COLOR_SURFACE_HIGH_INVERTED_HOVERED: #424A4D;
$DAY_COLOR_SURFACE_HIGH_INVERTED_PRESSED: #2A3032;
$DAY_COLOR_SURFACE_HIGH_LIGHT_INITIAL: #FFFFFF;
$DAY_COLOR_SURFACE_HIGH_LIGHT_HOVERED: #F6F8F8;
$DAY_COLOR_SURFACE_HIGH_LIGHT_PRESSED: #EEF1F1;
$DAY_COLOR_SURFACE_HIGH_DARK_INITIAL: #31383A;
$DAY_COLOR_SURFACE_HIGH_DARK_HOVERED: #424A4D;
$DAY_COLOR_SURFACE_HIGH_DARK_PRESSED: #2A3032;
$DAY_COLOR_SURFACE_HIGHER_INITIAL: #F6F8F8;
$DAY_COLOR_SURFACE_HIGHER_HOVERED: #EEF1F1;
$DAY_COLOR_SURFACE_HIGHER_PRESSED: #E1E4E5;
$DAY_COLOR_SURFACE_HIGHER_INVERTED_INITIAL: #424A4D;
$DAY_COLOR_SURFACE_HIGHER_INVERTED_HOVERED: #555F62;
$DAY_COLOR_SURFACE_HIGHER_INVERTED_PRESSED: #31383A;
$DAY_COLOR_SURFACE_HIGHER_LIGHT_INITIAL: #F6F8F8;
$DAY_COLOR_SURFACE_HIGHER_LIGHT_HOVERED: #EEF1F1;
$DAY_COLOR_SURFACE_HIGHER_LIGHT_PRESSED: #E1E4E5;
$DAY_COLOR_SURFACE_HIGHER_DARK_INITIAL: #424A4D;
$DAY_COLOR_SURFACE_HIGHER_DARK_HOVERED: #555F62;
$DAY_COLOR_SURFACE_HIGHER_DARK_PRESSED: #31383A;
$DAY_COLOR_SURFACE_HIGHEST_INITIAL: #EEF1F1;
$DAY_COLOR_SURFACE_HIGHEST_HOVERED: #E1E4E5;
$DAY_COLOR_SURFACE_HIGHEST_PRESSED: #BCC1C2;
$DAY_COLOR_SURFACE_HIGHEST_INVERTED_INITIAL: #6F787B;
$DAY_COLOR_SURFACE_HIGHEST_INVERTED_HOVERED: #899194;
$DAY_COLOR_SURFACE_HIGHEST_INVERTED_PRESSED: #555F62;
$DAY_COLOR_SURFACE_HIGHEST_LIGHT_INITIAL: #EEF1F1;
$DAY_COLOR_SURFACE_HIGHEST_LIGHT_HOVERED: #E1E4E5;
$DAY_COLOR_SURFACE_HIGHEST_LIGHT_PRESSED: #BCC1C2;
$DAY_COLOR_SURFACE_HIGHEST_DARK_INITIAL: #6F787B;
$DAY_COLOR_SURFACE_HIGHEST_DARK_HOVERED: #899194;
$DAY_COLOR_SURFACE_HIGHEST_DARK_PRESSED: #555F62;
$DAY_COLOR_SURFACE_PRIMARY_INITIAL: #1A59A3;
$DAY_COLOR_SURFACE_PRIMARY_HOVERED: #0F437F;
$DAY_COLOR_SURFACE_PRIMARY_PRESSED: #0D305C;
$DAY_COLOR_SURFACE_PRIMARY_DISABLED: #E9EBEC;
$DAY_COLOR_SURFACE_PRIMARY_LOADING: #82A6EF;
$DAY_COLOR_SURFACE_PRIMARY_SUBTLE_INITIAL: #1A59A31A;
$DAY_COLOR_SURFACE_PRIMARY_SUBTLE_HOVERED: #1A59A333;
$DAY_COLOR_SURFACE_PRIMARY_SUBTLE_PRESSED: #1A59A34D;
$DAY_COLOR_SURFACE_SECONDARY_INITIAL: #6853F7;
$DAY_COLOR_SURFACE_SECONDARY_HOVERED: #5236E4;
$DAY_COLOR_SURFACE_SECONDARY_PRESSED: #3D23BC;
$DAY_COLOR_SURFACE_SECONDARY_LOADING: #A49DF5;
$DAY_COLOR_SURFACE_SECONDARY_SUBTLE_INITIAL: #6853F71A;
$DAY_COLOR_SURFACE_SECONDARY_SUBTLE_HOVERED: #6853F733;
$DAY_COLOR_SURFACE_SECONDARY_SUBTLE_PRESSED: #6853F74D;
$DAY_COLOR_SURFACE_POSITIVE_INITIAL: #138761;
$DAY_COLOR_SURFACE_POSITIVE_HOVERED: #0E6B4D;
$DAY_COLOR_SURFACE_POSITIVE_PRESSED: #0B513A;
$DAY_COLOR_SURFACE_POSITIVE_DISABLED: #E9EBEC;
$DAY_COLOR_SURFACE_POSITIVE_LOADING: #44A082;
$DAY_COLOR_SURFACE_POSITIVE_SUBTLE_INITIAL: #1387611A;
$DAY_COLOR_SURFACE_POSITIVE_SUBTLE_HOVERED: #13876133;
$DAY_COLOR_SURFACE_POSITIVE_SUBTLE_PRESSED: #1387614D;
$DAY_COLOR_SURFACE_NEGATIVE_INITIAL: #DA1A1C;
$DAY_COLOR_SURFACE_NEGATIVE_HOVERED: #B5070A;
$DAY_COLOR_SURFACE_NEGATIVE_PRESSED: #8E0002;
$DAY_COLOR_SURFACE_NEGATIVE_DISABLED: #E9EBEC;
$DAY_COLOR_SURFACE_NEGATIVE_LOADING: #FB8383;
$DAY_COLOR_SURFACE_NEGATIVE_SUBTLE_INITIAL: #DA1A1C1A;
$DAY_COLOR_SURFACE_NEGATIVE_SUBTLE_HOVERED: #DA1A1C33;
$DAY_COLOR_SURFACE_NEGATIVE_SUBTLE_PRESSED: #DA1A1C4D;
$DAY_COLOR_SURFACE_INFO_INITIAL: #0266EF;
$DAY_COLOR_SURFACE_INFO_HOVERED: #0052C1;
$DAY_COLOR_SURFACE_INFO_PRESSED: #003E99;
$DAY_COLOR_SURFACE_INFO_DISABLED: #E9EBEC;
$DAY_COLOR_SURFACE_INFO_LOADING: #73A8F8;
$DAY_COLOR_SURFACE_INFO_SUBTLE_INITIAL: #0266EF1A;
$DAY_COLOR_SURFACE_INFO_SUBTLE_HOVERED: #0266EF33;
$DAY_COLOR_SURFACE_INFO_SUBTLE_PRESSED: #0266EF4D;
$DAY_COLOR_SURFACE_WARNING_INITIAL: #EFBD4E;
$DAY_COLOR_SURFACE_WARNING_HOVERED: #D09F14;
$DAY_COLOR_SURFACE_WARNING_PRESSED: #AE8400;
$DAY_COLOR_SURFACE_WARNING_DISABLED: #E9EBEC;
$DAY_COLOR_SURFACE_WARNING_LOADING: #F8DFBB;
$DAY_COLOR_SURFACE_WARNING_SUBTLE_INITIAL: #EFBD4E1A;
$DAY_COLOR_SURFACE_WARNING_SUBTLE_HOVERED: #EFBD4E33;
$DAY_COLOR_SURFACE_WARNING_SUBTLE_PRESSED: #EFBD4E4D;
$DAY_COLOR_STROKE_STRONGER_INITIAL: #BCC1C2;
$DAY_COLOR_STROKE_STRONGER_HOVERED: #899194;
$DAY_COLOR_STROKE_STRONG_INITIAL: #D1D5D6;
$DAY_COLOR_STROKE_STRONG_HOVERED: #A5AAAC;
$DAY_COLOR_STROKE_SOFT_INITIAL: #E1E4E5;
$DAY_COLOR_STROKE_SOFT_HOVERED: #BCC1C2;
$DAY_COLOR_STROKE_SOFTER_INITIAL: #EEF1F1;
$DAY_COLOR_STROKE_SOFTER_HOVERED: #E1E4E5;
$DAY_COLOR_STROKE_PRIMARY_INITIAL: #0F437F;
$DAY_COLOR_STROKE_PRIMARY_HOVERED: #0D305C;
$DAY_COLOR_STROKE_PRIMARY_SUBTLE_INITIAL: #DBE2F7;
$DAY_COLOR_STROKE_PRIMARY_SUBTLE_HOVERED: #B2C4F1;
$DAY_COLOR_STROKE_SECONDARY_INITIAL: #6853F7;
$DAY_COLOR_STROKE_SECONDARY_HOVERED: #5236E4;
$DAY_COLOR_STROKE_SECONDARY_SUBTLE_INITIAL: #E2E0F7;
$DAY_COLOR_STROKE_SECONDARY_SUBTLE_HOVERED: #C3BFF5;
$DAY_COLOR_STROKE_POSITIVE_INITIAL: #138761;
$DAY_COLOR_STROKE_POSITIVE_HOVERED: #0E6B4D;
$DAY_COLOR_STROKE_POSITIVE_SUBTLE_INITIAL: #A2D0C1;
$DAY_COLOR_STROKE_POSITIVE_SUBTLE_HOVERED: #74B8A2;
$DAY_COLOR_STROKE_NEGATIVE_INITIAL: #DA1A1C;
$DAY_COLOR_STROKE_NEGATIVE_HOVERED: #B5070A;
$DAY_COLOR_STROKE_NEGATIVE_SUBTLE_INITIAL: #FCDBDB;
$DAY_COLOR_STROKE_NEGATIVE_SUBTLE_HOVERED: #FAB1B2;
$DAY_COLOR_STROKE_INFO_INITIAL: #0266EF;
$DAY_COLOR_STROKE_INFO_HOVERED: #0052C1;
$DAY_COLOR_STROKE_INFO_SUBTLE_INITIAL: #D0E5F9;
$DAY_COLOR_STROKE_INFO_SUBTLE_HOVERED: #A0C7F8;
$DAY_COLOR_STROKE_WARNING_INITIAL: #EFBD4E;
$DAY_COLOR_STROKE_WARNING_HOVERED: #AE8400;
$DAY_COLOR_STROKE_WARNING_SUBTLE_INITIAL: #F8DFBB;
$DAY_COLOR_STROKE_WARNING_SUBTLE_HOVERED: #EFBD4E;
$DAY_COLOR_ICON_STRONG_DEFAULT: #141719;
$DAY_COLOR_ICON_STRONG_INVERTED: #FFFFFF;
$DAY_COLOR_ICON_STRONG_DARK: #141719;
$DAY_COLOR_ICON_STRONG_LIGHT: #FFFFFF;
$DAY_COLOR_ICON_SOFT_DEFAULT: #555F62;
$DAY_COLOR_ICON_SOFT_INVERTED: #A5AAAC;
$DAY_COLOR_ICON_SOFT_DARK: #141719B3;
$DAY_COLOR_ICON_SOFT_LIGHT: #FFFFFF99;
$DAY_COLOR_ICON_SOFTER_DEFAULT: #6F787B;
$DAY_COLOR_ICON_SOFTER_INVERTED: #899194;
$DAY_COLOR_ICON_SOFTER_DARK: #14171999;
$DAY_COLOR_ICON_SOFTER_LIGHT: #FFFFFF80;
$DAY_COLOR_ICON_DISABLED_DEFAULT: #A5AAAC;
$DAY_COLOR_ICON_DISABLED_INVERTED: #555F62;
$DAY_COLOR_ICON_DISABLED_DARK: #1417194D;
$DAY_COLOR_ICON_DISABLED_LIGHT: #FFFFFF4D;
$DAY_COLOR_ICON_PRIMARY_INITIAL: #0F437F;
$DAY_COLOR_ICON_PRIMARY_HOVERED: #0D305C;
$DAY_COLOR_ICON_PRIMARY_PRESSED: #071B38;
$DAY_COLOR_ICON_SECONDARY_INITIAL: #5236E4;
$DAY_COLOR_ICON_SECONDARY_HOVERED: #3D23BC;
$DAY_COLOR_ICON_SECONDARY_PRESSED: #2C1B84;
$DAY_COLOR_ICON_LINK_INITIAL: #0266EF;
$DAY_COLOR_ICON_LINK_HOVERED: #0052C1;
$DAY_COLOR_ICON_LINK_PRESSED: #003E99;
$DAY_COLOR_ICON_POSITIVE_INITIAL: #138761;
$DAY_COLOR_ICON_POSITIVE_HOVERED: #0E6B4D;
$DAY_COLOR_ICON_POSITIVE_PRESSED: #0B513A;
$DAY_COLOR_ICON_NEGATIVE_INITIAL: #DA1A1C;
$DAY_COLOR_ICON_NEGATIVE_HOVERED: #B5070A;
$DAY_COLOR_ICON_NEGATIVE_PRESSED: #8E0002;
$DAY_COLOR_ICON_INFO_INITIAL: #0266EF;
$DAY_COLOR_ICON_INFO_HOVERED: #0052C1;
$DAY_COLOR_ICON_INFO_PRESSED: #003E99;
$DAY_COLOR_ICON_WARNING_INITIAL: #8C6A00;
$DAY_COLOR_ICON_WARNING_HOVERED: #715500;
$DAY_COLOR_ICON_WARNING_PRESSED: #574100;
$DAY_COLOR_OVERLAY_BACKDROP_DIM: #14171980;
$DAY_COLOR_OVERLAY_BACKDROP_DIMER: #14171999;
$NIGHT_COLOR_TEXT_STRONG_DEFAULT: #F9FAFA;
$NIGHT_COLOR_TEXT_STRONG_INVERTED: #141719;
$NIGHT_COLOR_TEXT_STRONG_DARK: #141719;
$NIGHT_COLOR_TEXT_STRONG_LIGHT: #FFFFFF;
$NIGHT_COLOR_TEXT_SOFT_DEFAULT: #A5AAAC;
$NIGHT_COLOR_TEXT_SOFT_INVERTED: #555F62;
$NIGHT_COLOR_TEXT_SOFT_DARK: #141719B3;
$NIGHT_COLOR_TEXT_SOFT_LIGHT: #FFFFFF99;
$NIGHT_COLOR_TEXT_SOFTER_DEFAULT: #899194;
$NIGHT_COLOR_TEXT_SOFTER_INVERTED: #6F787B;
$NIGHT_COLOR_TEXT_SOFTER_DARK: #14171999;
$NIGHT_COLOR_TEXT_SOFTER_LIGHT: #FFFFFF80;
$NIGHT_COLOR_TEXT_DISABLED_DEFAULT: #555F62;
$NIGHT_COLOR_TEXT_DISABLED_INVERTED: #555F62;
$NIGHT_COLOR_TEXT_DISABLED_LIGHT: #FFFFFF4D;
$NIGHT_COLOR_TEXT_PRIMARY_INITIAL: #82A6EF;
$NIGHT_COLOR_TEXT_PRIMARY_HOVERED: #428AEE;
$NIGHT_COLOR_TEXT_PRIMARY_PRESSED: #266EC7;
$NIGHT_COLOR_TEXT_SECONDARY_INITIAL: #A49DF5;
$NIGHT_COLOR_TEXT_SECONDARY_HOVERED: #8679F9;
$NIGHT_COLOR_TEXT_SECONDARY_PRESSED: #6853F7;
$NIGHT_COLOR_TEXT_LINK_INITIAL: #73A8F8;
$NIGHT_COLOR_TEXT_LINK_HOVERED: #4287FB;
$NIGHT_COLOR_TEXT_LINK_PRESSED: #0266EF;
$NIGHT_COLOR_TEXT_POSITIVE_INITIAL: #44A082;
$NIGHT_COLOR_TEXT_POSITIVE_HOVERED: #2E9372;
$NIGHT_COLOR_TEXT_POSITIVE_PRESSED: #138761;
$NIGHT_COLOR_TEXT_NEGATIVE_INITIAL: #FB8383;
$NIGHT_COLOR_TEXT_NEGATIVE_HOVERED: #F84A4C;
$NIGHT_COLOR_TEXT_NEGATIVE_PRESSED: #DA1A1C;
$NIGHT_COLOR_TEXT_INFO_INITIAL: #0266EF;
$NIGHT_COLOR_TEXT_INFO_HOVERED: #0052C1;
$NIGHT_COLOR_TEXT_INFO_PRESSED: #003E99;
$NIGHT_COLOR_TEXT_WARNING_INITIAL: #EFBD4E;
$NIGHT_COLOR_TEXT_WARNING_HOVERED: #D09F14;
$NIGHT_COLOR_TEXT_WARNING_PRESSED: #AE8400;
$NIGHT_COLOR_SURFACE_LOWER_INITIAL: #171B1C;
$NIGHT_COLOR_SURFACE_LOWER_HOVERED: #1E2224;
$NIGHT_COLOR_SURFACE_LOWER_PRESSED: #141719;
$NIGHT_COLOR_SURFACE_LOW_INITIAL: #1A1E1F;
$NIGHT_COLOR_SURFACE_LOW_HOVERED: #23282A;
$NIGHT_COLOR_SURFACE_LOW_PRESSED: #141719;
$NIGHT_COLOR_SURFACE_CANVAS_INITIAL: #23282A;
$NIGHT_COLOR_SURFACE_CANVAS_HOVERED: #31383A;
$NIGHT_COLOR_SURFACE_CANVAS_PRESSED: #171B1C;
$NIGHT_COLOR_SURFACE_CANVAS_INVERTED_INITIAL: #E9EBEC;
$NIGHT_COLOR_SURFACE_CANVAS_INVERTED_HOVERED: #D1D5D6;
$NIGHT_COLOR_SURFACE_CANVAS_INVERTED_PRESSED: #A5AAAC;
$NIGHT_COLOR_SURFACE_CANVAS_LIGHT_INITIAL: #F9FAFA;
$NIGHT_COLOR_SURFACE_CANVAS_LIGHT_HOVERED: #F3F5F6;
$NIGHT_COLOR_SURFACE_CANVAS_LIGHT_PRESSED: #E9EBEC;
$NIGHT_COLOR_SURFACE_CANVAS_DARK_INITIAL: #1A1E1F;
$NIGHT_COLOR_SURFACE_CANVAS_DARK_HOVERED: #23282A;
$NIGHT_COLOR_SURFACE_CANVAS_DARK_PRESSED: #141719;
$NIGHT_COLOR_SURFACE_HIGH_INITIAL: #2A3032;
$NIGHT_COLOR_SURFACE_HIGH_HOVERED: #424A4D;
$NIGHT_COLOR_SURFACE_HIGH_PRESSED: #1E2224;
$NIGHT_COLOR_SURFACE_HIGH_INVERTED_INITIAL: #E1E4E5;
$NIGHT_COLOR_SURFACE_HIGH_INVERTED_HOVERED: #BCC1C2;
$NIGHT_COLOR_SURFACE_HIGH_INVERTED_PRESSED: #899194;
$NIGHT_COLOR_SURFACE_HIGH_LIGHT_INITIAL: #FFFFFF;
$NIGHT_COLOR_SURFACE_HIGH_LIGHT_HOVERED: #F6F8F8;
$NIGHT_COLOR_SURFACE_HIGH_LIGHT_PRESSED: #EEF1F1;
$NIGHT_COLOR_SURFACE_HIGH_DARK_INITIAL: #31383A;
$NIGHT_COLOR_SURFACE_HIGH_DARK_HOVERED: #424A4D;
$NIGHT_COLOR_SURFACE_HIGH_DARK_PRESSED: #2A3032;
$NIGHT_COLOR_SURFACE_HIGHER_INITIAL: #31383A;
$NIGHT_COLOR_SURFACE_HIGHER_HOVERED: #555F62;
$NIGHT_COLOR_SURFACE_HIGHER_PRESSED: #23282A;
$NIGHT_COLOR_SURFACE_HIGHER_INVERTED_INITIAL: #D1D5D6;
$NIGHT_COLOR_SURFACE_HIGHER_INVERTED_HOVERED: #A5AAAC;
$NIGHT_COLOR_SURFACE_HIGHER_INVERTED_PRESSED: #6F787B;
$NIGHT_COLOR_SURFACE_HIGHER_LIGHT_INITIAL: #F6F8F8;
$NIGHT_COLOR_SURFACE_HIGHER_LIGHT_HOVERED: #EEF1F1;
$NIGHT_COLOR_SURFACE_HIGHER_LIGHT_PRESSED: #E1E4E5;
$NIGHT_COLOR_SURFACE_HIGHER_DARK_INITIAL: #424A4D;
$NIGHT_COLOR_SURFACE_HIGHER_DARK_HOVERED: #555F62;
$NIGHT_COLOR_SURFACE_HIGHER_DARK_PRESSED: #31383A;
$NIGHT_COLOR_SURFACE_HIGHEST_INITIAL: #424A4D;
$NIGHT_COLOR_SURFACE_HIGHEST_HOVERED: #6F787B;
$NIGHT_COLOR_SURFACE_HIGHEST_PRESSED: #2A3032;
$NIGHT_COLOR_SURFACE_HIGHEST_INVERTED_INITIAL: #BCC1C2;
$NIGHT_COLOR_SURFACE_HIGHEST_INVERTED_HOVERED: #899194;
$NIGHT_COLOR_SURFACE_HIGHEST_INVERTED_PRESSED: #555F62;
$NIGHT_COLOR_SURFACE_HIGHEST_LIGHT_INITIAL: #EEF1F1;
$NIGHT_COLOR_SURFACE_HIGHEST_LIGHT_HOVERED: #E1E4E5;
$NIGHT_COLOR_SURFACE_HIGHEST_LIGHT_PRESSED: #BCC1C2;
$NIGHT_COLOR_SURFACE_HIGHEST_DARK_INITIAL: #6F787B;
$NIGHT_COLOR_SURFACE_HIGHEST_DARK_HOVERED: #899194;
$NIGHT_COLOR_SURFACE_HIGHEST_DARK_PRESSED: #555F62;
$NIGHT_COLOR_SURFACE_PRIMARY_INITIAL: #428AEE;
$NIGHT_COLOR_SURFACE_PRIMARY_HOVERED: #266EC7;
$NIGHT_COLOR_SURFACE_PRIMARY_PRESSED: #1A59A3;
$NIGHT_COLOR_SURFACE_PRIMARY_DISABLED: #424A4D;
$NIGHT_COLOR_SURFACE_PRIMARY_LOADING: #0F437F;
$NIGHT_COLOR_SURFACE_PRIMARY_SUBTLE_INITIAL: #428AEE1A;
$NIGHT_COLOR_SURFACE_PRIMARY_SUBTLE_HOVERED: #428AEE33;
$NIGHT_COLOR_SURFACE_PRIMARY_SUBTLE_PRESSED: #428AEE4D;
$NIGHT_COLOR_SURFACE_SECONDARY_INITIAL: #8679F9;
$NIGHT_COLOR_SURFACE_SECONDARY_HOVERED: #6853F7;
$NIGHT_COLOR_SURFACE_SECONDARY_PRESSED: #5236E4;
$NIGHT_COLOR_SURFACE_SECONDARY_LOADING: #A49DF5;
$NIGHT_COLOR_SURFACE_SECONDARY_SUBTLE_INITIAL: #8679F91A;
$NIGHT_COLOR_SURFACE_SECONDARY_SUBTLE_HOVERED: #8679F933;
$NIGHT_COLOR_SURFACE_SECONDARY_SUBTLE_PRESSED: #8679F94D;
$NIGHT_COLOR_SURFACE_POSITIVE_INITIAL: #2E9372;
$NIGHT_COLOR_SURFACE_POSITIVE_HOVERED: #138761;
$NIGHT_COLOR_SURFACE_POSITIVE_PRESSED: #0F6B4D;
$NIGHT_COLOR_SURFACE_POSITIVE_DISABLED: #424A4D;
$NIGHT_COLOR_SURFACE_POSITIVE_LOADING: #44A082;
$NIGHT_COLOR_SURFACE_POSITIVE_SUBTLE_INITIAL: #2E93721A;
$NIGHT_COLOR_SURFACE_POSITIVE_SUBTLE_HOVERED: #2E937233;
$NIGHT_COLOR_SURFACE_POSITIVE_SUBTLE_PRESSED: #2E93724D;
$NIGHT_COLOR_SURFACE_NEGATIVE_INITIAL: #F84A4C;
$NIGHT_COLOR_SURFACE_NEGATIVE_HOVERED: #DA1A1C;
$NIGHT_COLOR_SURFACE_NEGATIVE_PRESSED: #B5070A;
$NIGHT_COLOR_SURFACE_NEGATIVE_DISABLED: #424A4D;
$NIGHT_COLOR_SURFACE_NEGATIVE_LOADING: #FB8383;
$NIGHT_COLOR_SURFACE_NEGATIVE_SUBTLE_INITIAL: #F84A4C1A;
$NIGHT_COLOR_SURFACE_NEGATIVE_SUBTLE_HOVERED: #F84A4C33;
$NIGHT_COLOR_SURFACE_NEGATIVE_SUBTLE_PRESSED: #F84A4C4D;
$NIGHT_COLOR_SURFACE_INFO_INITIAL: #8679F9;
$NIGHT_COLOR_SURFACE_INFO_HOVERED: #6853F7;
$NIGHT_COLOR_SURFACE_INFO_PRESSED: #5236E4;
$NIGHT_COLOR_SURFACE_INFO_DISABLED: #424A4D;
$NIGHT_COLOR_SURFACE_INFO_LOADING: #A49DF5;
$NIGHT_COLOR_SURFACE_INFO_SUBTLE_INITIAL: #8679F91A;
$NIGHT_COLOR_SURFACE_INFO_SUBTLE_HOVERED: #8679F933;
$NIGHT_COLOR_SURFACE_INFO_SUBTLE_PRESSED: #8679F94D;
$NIGHT_COLOR_SURFACE_WARNING_INITIAL: #EFBD4E;
$NIGHT_COLOR_SURFACE_WARNING_HOVERED: #D09F14;
$NIGHT_COLOR_SURFACE_WARNING_PRESSED: #AE8400;
$NIGHT_COLOR_SURFACE_WARNING_DISABLED: #424A4D;
$NIGHT_COLOR_SURFACE_WARNING_LOADING: #F8DFBB;
$NIGHT_COLOR_SURFACE_WARNING_SUBTLE_INITIAL: #EFBD4E1A;
$NIGHT_COLOR_SURFACE_WARNING_SUBTLE_HOVERED: #EFBD4E33;
$NIGHT_COLOR_SURFACE_WARNING_SUBTLE_PRESSED: #EFBD4E4D;
$NIGHT_COLOR_STROKE_STRONGER_INITIAL: #A5AAAC;
$NIGHT_COLOR_STROKE_STRONGER_HOVERED: #899194;
$NIGHT_COLOR_STROKE_STRONG_INITIAL: #6F787B;
$NIGHT_COLOR_STROKE_STRONG_HOVERED: #A5AAAC;
$NIGHT_COLOR_STROKE_SOFT_INITIAL: #424A4D;
$NIGHT_COLOR_STROKE_SOFT_HOVERED: #BCC1C2;
$NIGHT_COLOR_STROKE_SOFTER_INITIAL: #31383A;
$NIGHT_COLOR_STROKE_SOFTER_HOVERED: #E1E4E5;
$NIGHT_COLOR_STROKE_PRIMARY_INITIAL: #428AEE;
$NIGHT_COLOR_STROKE_PRIMARY_HOVERED: #266EC7;
$NIGHT_COLOR_STROKE_PRIMARY_SUBTLE_INITIAL: #DBE2F7;
$NIGHT_COLOR_STROKE_PRIMARY_SUBTLE_HOVERED: #B2C4F1;
$NIGHT_COLOR_STROKE_SECONDARY_INITIAL: #6853F7;
$NIGHT_COLOR_STROKE_SECONDARY_HOVERED: #5236E4;
$NIGHT_COLOR_STROKE_SECONDARY_SUBTLE_INITIAL: #E2E0F7;
$NIGHT_COLOR_STROKE_SECONDARY_SUBTLE_HOVERED: #C3BFF5;
$NIGHT_COLOR_STROKE_POSITIVE_INITIAL: #2E9372;
$NIGHT_COLOR_STROKE_POSITIVE_HOVERED: #138761;
$NIGHT_COLOR_STROKE_POSITIVE_SUBTLE_INITIAL: #A2D0C1;
$NIGHT_COLOR_STROKE_POSITIVE_SUBTLE_HOVERED: #74B8A2;
$NIGHT_COLOR_STROKE_NEGATIVE_INITIAL: #DA1A1C;
$NIGHT_COLOR_STROKE_NEGATIVE_HOVERED: #B5070A;
$NIGHT_COLOR_STROKE_NEGATIVE_SUBTLE_INITIAL: #FCDBDB;
$NIGHT_COLOR_STROKE_NEGATIVE_SUBTLE_HOVERED: #FAB1B2;
$NIGHT_COLOR_STROKE_INFO_INITIAL: #0266EF;
$NIGHT_COLOR_STROKE_INFO_HOVERED: #0052C1;
$NIGHT_COLOR_STROKE_INFO_SUBTLE_INITIAL: #D0E5F9;
$NIGHT_COLOR_STROKE_INFO_SUBTLE_HOVERED: #A0C7F8;
$NIGHT_COLOR_STROKE_WARNING_INITIAL: #EFBD4E;
$NIGHT_COLOR_STROKE_WARNING_HOVERED: #AE8400;
$NIGHT_COLOR_STROKE_WARNING_SUBTLE_INITIAL: #F8DFBB;
$NIGHT_COLOR_STROKE_WARNING_SUBTLE_HOVERED: #EFBD4E;
$NIGHT_COLOR_ICON_STRONG_DEFAULT: #F9FAFA;
$NIGHT_COLOR_ICON_STRONG_INVERTED: #141719;
$NIGHT_COLOR_ICON_STRONG_DARK: #141719;
$NIGHT_COLOR_ICON_STRONG_LIGHT: #FFFFFF;
$NIGHT_COLOR_ICON_SOFT_DEFAULT: #A5AAAC;
$NIGHT_COLOR_ICON_SOFT_INVERTED: #555F62;
$NIGHT_COLOR_ICON_SOFT_DARK: #141719B3;
$NIGHT_COLOR_ICON_SOFT_LIGHT: #FFFFFF99;
$NIGHT_COLOR_ICON_SOFTER_DEFAULT: #899194;
$NIGHT_COLOR_ICON_SOFTER_INVERTED: #6F787B;
$NIGHT_COLOR_ICON_SOFTER_DARK: #14171999;
$NIGHT_COLOR_ICON_SOFTER_LIGHT: #FFFFFF80;
$NIGHT_COLOR_ICON_DISABLED_DEFAULT: #555F62;
$NIGHT_COLOR_ICON_DISABLED_INVERTED: #555F62;
$NIGHT_COLOR_ICON_DISABLED_DARK: #1417194D;
$NIGHT_COLOR_ICON_DISABLED_LIGHT: #FFFFFF4D;
$NIGHT_COLOR_ICON_PRIMARY_INITIAL: #82A6EF;
$NIGHT_COLOR_ICON_PRIMARY_HOVERED: #428AEE;
$NIGHT_COLOR_ICON_PRIMARY_PRESSED: #266EC7;
$NIGHT_COLOR_ICON_SECONDARY_INITIAL: #A49DF5;
$NIGHT_COLOR_ICON_SECONDARY_HOVERED: #8679F9;
$NIGHT_COLOR_ICON_SECONDARY_PRESSED: #6853F7;
$NIGHT_COLOR_ICON_LINK_INITIAL: #73A8F8;
$NIGHT_COLOR_ICON_LINK_HOVERED: #4287FB;
$NIGHT_COLOR_ICON_LINK_PRESSED: #0266EF;
$NIGHT_COLOR_ICON_POSITIVE_INITIAL: #44A082;
$NIGHT_COLOR_ICON_POSITIVE_HOVERED: #2E9372;
$NIGHT_COLOR_ICON_POSITIVE_PRESSED: #138761;
$NIGHT_COLOR_ICON_NEGATIVE_INITIAL: #FB8383;
$NIGHT_COLOR_ICON_NEGATIVE_HOVERED: #F84A4C;
$NIGHT_COLOR_ICON_NEGATIVE_PRESSED: #DA1A1C;
$NIGHT_COLOR_ICON_INFO_INITIAL: #0266EF;
$NIGHT_COLOR_ICON_INFO_HOVERED: #0052C1;
$NIGHT_COLOR_ICON_INFO_PRESSED: #003E99;
$NIGHT_COLOR_ICON_WARNING_INITIAL: #EFBD4E;
$NIGHT_COLOR_ICON_WARNING_HOVERED: #D09F14;
$NIGHT_COLOR_ICON_WARNING_PRESSED: #AE8400;
$NIGHT_COLOR_OVERLAY_BACKDROP_DIM: #141719B3;
$NIGHT_COLOR_OVERLAY_BACKDROP_DIMER: #141719CC;
