@font-face {
    font-family: 'Helvetica-Light';
    src: url('../../assets/fonts/Helvetica-Neue-LT-GEO-45-Light.ttf');
}

@font-face {
    font-family: 'Helvetica-Medium';
    src: url('../../assets/fonts/Helvetica-Neue-LT-GEO-65-Medium.ttf');
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../../assets/fonts/Helvetica-Neue-LT-GEO-75-Bold.ttf');
}

@font-face {
    font-family: 'Helvetica-Regular';
    src: url('../../assets/fonts/Helvetica_Regular.ttf');
}