// @font-face {
//     font-family: 'Helvetica-Light';
//     src: url('../../assets/fonts/Helvetica-Neue-LT-GEO-45-Light.ttf');
// }

// @font-face {
//     font-family: 'Helvetica-Medium';
//     src: url('../../assets/fonts/Helvetica-Neue-LT-GEO-65-Medium.ttf');
// }

// @font-face {
//     font-family: 'Helvetica-Bold';
//     src: url('../../assets/fonts/Helvetica-Neue-LT-GEO-75-Bold.ttf');
// }

// @font-face {
//     font-family: 'Helvetica-Regular';
//     src: url('../../assets/fonts/Helvetica_Regular.ttf');
// }
// @font-face {
//     font-family: 'Helvetica-Neue-Medium';
//     src: url('../../assets/fonts/HelveticaNeue2Med.ttf');
// }

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_300';
    src: url(../../assets/fonts/HelveticaNeueLTGEO300Light.ttf);
}

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_400';
    src: url(../../assets/fonts/helveticaneueltgeo400Regular.ttf);
}

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_500';
    src: url(../../assets/fonts/HelveticaNeueLTGEO500Medium.ttf);
}

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_700';
    src: url(../../assets/fonts/HelveticaNeueLTGEO700Bold.ttf);
}

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_Caps_300';
    src: url(../../assets/fonts/HelveticaNeueLTGEOCaps300Light.ttf);
}

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_Caps_400';
    src: url(../../assets/fonts/HelveticaNeueLTGEOCaps400Regular.ttf);
}

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_Caps_500';
    src: url(../../assets/fonts/HelveticaNeueLTGEOCaps500Medium.ttf);
}

@font-face {
    font-family: 'Helvetica_Neue_LT_GEO_Caps_700';
    src: url(../../assets/fonts/HelveticaNeueLTGEOCaps700Bold.ttf);
}