.docs__components_preview{
    border-radius: 0.25rem;
    background: #FFFFFF;

    .docs__components_label{
        width: 100%;
        // background: #00ADEE;
        background: #23282A;
        // border-bottom: 0.125rem solid #23282A;
        padding: 0.625rem 0.9375rem;
        border-radius: 0.25rem;

        *{
            font-family: 'Helvetica_Neue_LT_GEO_Caps_700';
        }

        h1{
            font-size: 1.1875rem;
            color: #fff;

            span{
                color: #fff;

                &::before{
                    content: open-quote;
                }
                &::after{
                    content: close-quote;
                }
            }
        }
    }

    .docs__component_wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
        grid-auto-flow: row dense;
        grid-gap: 1rem;
        margin-top: 1.25rem;
        padding: 0 0.9375rem;

        h5{
            margin-bottom: 0.625rem;
            user-select: none;
        }

        &.comp__dropdown{
            grid-template-columns: repeat(auto-fill,minmax(18.75rem,1fr));
        }

        &.comp__button{
            align-items: center;
            grid-template-columns: repeat(auto-fill,minmax(10.625rem,1fr));
        }

        &.comp__uploader{
            grid-template-columns: auto auto;
            justify-content: left;
        }

        &.comp_grid{
            grid-template-columns: 100%;
            h5{
                margin-bottom: 0.625rem;
                user-select: none;
                font-size: 1.125rem;
            }
            .docs__single_component{
                padding: 0.9375rem 0.625rem;
                border: 0.125rem solid rgba(#23282A,.1);
                border-radius: 0.25rem;
                transition: $Default-Transition;
            }
        }

        .docs__single_component{
            & > h5 {
                font-family: 'Helvetica_Neue_LT_GEO_Caps_400';
            }
        }
    }

    .docs__component_static_preview_props{
        margin-top: 3.125rem;
        & *{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        ul{
            @include flex(flex-start,flex-start,column,0);
            max-height: unset;
            box-shadow: 0 0 0.625rem rgba(#23282A,.2);
            border-radius: 0.25rem;
            
            li{
                width: 100%;
                background: rgba(#F9FAFA,1);
                // border-radius: 0.25rem;
                border-bottom: 0.0625rem solid rgba(#23282A,.1);
                padding: 0.9375rem 1.25rem;
                display: grid;
                align-items: center;
                grid-column-gap: 0.625rem;
                grid-template-columns: repeat(4, 1fr);
                transition: $Default-Transition;

                &:hover{
                    background: rgba(#23282A,.08);
                }

                &:first-child{
                    position: sticky;
                    background: rgba(#23282A,.2);
                    border-top: 3px solid #EBB924;
                    top: 0;
                    span{
                        background: none !important;
                        font-size: 1rem !important;
                        font-weight: 900 !important;
                        color: #23282A !important;
                    }
                }

                &.event{
                    .docs__label,.docs__type{
                        span{
                            background: #EEC64F !important;
                        }
                    } 
                }

                &.date{
                    .docs__label,.docs__type{
                        span{
                            background: #d14;
                        }
                    }
                }

                &.component{
                    .docs__label,.docs__type{
                        span{
                            background: #42f5b9 !important;
                        }
                    } 
                }

                span{
                    color: #23282A;
                    line-height: 1.1875rem;
                    word-wrap: break-word;
                    font-size: 0.875rem;

                    &.docs__label{
                        padding: 0.3125rem;
                        border-radius: 0.375rem;

                        span{
                            font-size:1.125rem !important;
                            font-weight: 900;
                            &:nth-child(1){
                                padding: 0.3125rem;
                                background: rgba(#42f5b9,.5);
                                border-radius: 0.25rem;
                            }
                        }
                    }

                    &.docs__type{
                        span{
                            padding: 0.3125rem;
                            background: rgba(#23282A,1);
                            border-radius: 0.25rem;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

body.theme_dark{
    .content_main_wrapper{
        background: rgba(#23282A,.9);

        .__guide_dependencies__{
            h1,h2{
                color: #F9FAFA;
            }
            p,ol{
                color: rgba(#F9FAFA,.8);
            }
        }
    }

    .docs__components_label{
        background: rgba(#F9FAFA,.3) !important;
        h1,span{
            color: #FFF !important;
        }
    }
    
    .docs__components_preview{
        background: #23282A;

        .docs__components_label{
            background: #EEF1F1;
            h1{
                color: #23282A;
                span{
                    color: #23282A;
                }
            }
        }

        h5{
            color: #F9FAFA;
        }
    }

    .docs__component_static_preview_props{
        ul li{
            background-color: #23282A;

            &:hover{
                background: rgba(#F9FAFA,.3);
            }

            &:first-child{
                background: rgba(#fff,.2);
                span{
                    color: #FFF !important;
                }
            }

            span{
                color: #fff;
            }

            .docs__type span {
                background: rgba(#F9FAFA,.3);
            }
        }
    }
}