.datePickerWrapper{
    position: relative;
    &.iconOnly{
        width: 1.875rem !important;

        .notifierDot{
            width: 0.4375rem;
            height: 0.4375rem;
            border-radius: 50%;
            background: $Day-Positive80;
            // opacity: 0;
            position: absolute;
            top: -0.25rem;
            right: -0.25rem;
            transition: $Default-Transition;
            opacity: 0;

            &.visible{
                opacity: 1;
            }
        }

        .ant-picker{
            opacity: 0 !important;
            cursor: pointer;
        }

        .iconPlaceholder{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 10;
            pointer-events: none;

            svg{
                width: 1.5rem;
            }
        }
    }

    .datepickerCustomLabel{
        position: absolute;
        transform: translate(0,-50%);
        top: 50%;
        left: 0.75rem;
        z-index: 20;
        transition: $Default-Transition;
        pointer-events: none;
        user-select: none;

        &.focused{
            top: 0.5rem;
            transform: translate(none);
            span{
                font-size: 0.625rem;
            }
        }

        span{
            font-size: 0.75rem;
            color: $DAY_COLOR_TEXT_SOFT_DEFAULT;
            font-family: 'Helvetica_Neue_LT_GEO_Caps_400';
            transition: $Default-Transition;
        }
    }

    .ant-picker-input > input {
        top: 0.3125rem;
    }
}

body.theme_dark{
    .datePickerWrapper{
        .datepickerCustomLabel{
            span{
                color: $NIGHT_COLOR_TEXT_STRONG_DEFAULT;
            }
        }
        &.iconOnly{
            .iconPlaceholder{
                svg{
                    path{
                        stroke: #ffffff;
                    }
                }
            }
        }
    }
}