
.mainButton{
    width: 10.75rem;
    transition: $Default-Transition;
    border-radius: 0.125rem;
    cursor: pointer;
    outline: none !important;
    *{
        font-family: 'Helvetica_Neue_LT_GEO_Caps_500';
    }

    &.loadingState{
        pointer-events: none;
        .buttonLabel,.iconSlot{
            display: none;
        }
        &.border,&.text{
            .loading > div{
                background: $Day-Positive100;
            }
        }
    }

    &.disabled{
        pointer-events: none;
        user-select: none;
    }

    &.background{
        background: $Day-Positive100;
        .buttonLabel{
            color: #FFFFFF;
        }

        &:hover{
            background: $Day-Positive80;
        }
        
        &:active{
            background: $Day-Positive120;
        }

        &.disabled{
            background: $Day-Positive05;
            border: 0.0625rem solid transparent;
            .buttonLabel{
                color: $Day-TextDisabled;
            }
        }
    }
    &.border{
        border: 0.0625rem solid $Day-Positive100;
        .buttonLabel{
            color: $Day-Positive100;
        }

        &:hover{
            border: 0.0625rem solid $Day-Positive80;
            .buttonLabel{
                color: $Day-Positive80;
            }
        }
        &:active{
            border: 0.0625rem solid $Day-Positive120;
            .buttonLabel{
                color: $Day-Positive120;
            }
        }
        &.disabled{
            border: 0.0625rem solid$Day-Positive05;
            .buttonLabel{
                color: $Day-TextDisabled;
            }
        }
    }
    &.text{
        width: unset;
        height: unset !important;
        background: transparent;

        &:hover{
            .buttonLabel{
                color: $Day-Positive80;
            }
        }

        &:active{
            .buttonLabel{
                color: $Day-Positive120;
            }
        }

        .buttonLabel{
            color: $Day-Positive100;
        }

        &.disabled{
            .buttonLabel{
                color: $Day-TextDisabled;
            }
        }
    }

    &.small{
        height: 2.625rem;
        .buttonLabel{
            font-size: 0.75rem;
        }
    }
    &.medium{
        height: 3rem;
        .buttonLabel{
            font-size: 0.875rem;
        }
    }
    &.large{
        height: 3.5rem;
        .buttonLabel{
            font-size: 1rem;
        }
    }

    .loading{
        display: flex;
        justify-content: center;
        align-items: center;
    
        & > div{
          border-radius: 50%;
          margin-left: 0.625rem;
          animation: ease-in-out loading 1s infinite;
    
          &.leftDot{
            animation-delay: -0.4s;
          }
          &.centerDot{
            animation-delay: -0.3s;
          }
          &.rightDot{
            animation-delay: -0.2s;
          }
    
          &:first-child{
            margin-left: 0;
          }
        }
        .leftDot,.rightDot{
          width: 0.375rem;
          height: 0.375rem;
          background: $Day-Steelgrey00;
        }
        .centerDot{
          width: 0.625rem;
          height: 0.625rem;
          border: 0.125rem solid $Day-Steelgrey00;
        }
    
        @keyframes loading {
          0%, 40%, 100% {
            transform: scale(1);
          }  20% {
               transform: scale(1.4) translateY(-0.125rem);
             }
        }
      }
}