
.main-button{
    width: 10.75rem;
    transition: $Default-Transition;
    border-radius: 0.125rem;
    cursor: pointer;
    background: transparent;

    &.disabled{
        pointer-events: none;
        user-select: none;
    }

    &.type{
        &--background{
            background: $Day-Positive100;
            .button-label{
                color: #FFFFFF;
            }

            &:hover{
                background: $Day-Positive80;
            }
            
            &:active{
                background: $Day-Positive120;
            }

            &.disabled{
                background: $Day-Positive05;
                border: 0.0625rem solid transparent;
                .button-label{
                    color: $Day-TextDisabled;
                }
            }
        }
        &--border{
            border: 0.0625rem solid $Day-Positive100;
            .button-label{
                color: $Day-Positive100;
            }

            &:hover{
                border: 0.0625rem solid $Day-Positive80;
                .button-label{
                    color: $Day-Positive80;
                }
            }
            &:active{
                border: 0.0625rem solid $Day-Positive120;
                .button-label{
                    color: $Day-Positive120;
                }
            }
            &.disabled{
                border: 0.0625rem solid$Day-Positive05;
                .button-label{
                    color: $Day-TextDisabled;
                }
            }
        }
        &--text{
            width: unset;
            height: unset !important;

            &:hover{
                .button-label{
                    color: $Day-Positive80;
                }
            }

            &:active{
                .button-label{
                    color: $Day-Positive120;
                }
            }

            .button-label{
                color: $Day-Positive100;
            }

            &.disabled{
                .button-label{
                    color: $Day-TextDisabled;
                }
            }
        }
    }

    &.small{
        height: 2.625rem;
        .button-label{
            font-size: 0.75rem;
        }
    }
    &.medium{
        height: 3rem;
        .button-label{
            font-size: 0.875rem;
        }
    }
    &.large{
        height: 3.5rem;
        .button-label{
            font-size: 1rem;
        }
    }
}