@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sidebarContent{
    width: 100%;
    height: 100%;
    background: #1E2224;
    overflow: auto;
     & *{
        font-family: 'Roboto', sans-serif;
    }
    


    .logo{
        position: sticky;
        top: 0;
        width: 100%;
        padding: 0.9375rem 0.625rem;
        background: #1E2224;
        user-select: none;
        z-index: 9;
        @include flex(center,center,row,0.9375rem);

        img{
            width: 2rem;
        }
        span{
            color: $Main-Blue-Light;
            font-size: 1rem;
        }
    }

    .parentNavList{
        margin-top: 1.875rem;
        width: 100%;
        @include flex(center,flex-start,column,unset);   

        .childNavList{
            position: relative;
            margin-top: 2.1875rem;

            &.isExpanded{
                border: 0.0625rem solid rgba(#00ADEE,.2);
                border-radius: 0.25rem;
            }
            
            .routeChildItem{
                padding: 0.9375rem 0.625rem;

                span{
                    white-space: nowrap;
                    font-size: 0.875rem;
                }

                &.current{
                    position: relative;
                    span{
                        color: #00ADEE;
                    }

                    &::after{
                        content: '';
                        width: 100%;
                        height: 0.0625rem;
                        border-radius: 3.125rem;
                        background: #00ADEE;
                        position: absolute;
                        left: 0;
                        top: 100%;
                    }
                }
            }
        }

        .routeItem{
            cursor: pointer;
            padding: 0.9375rem 1.875rem;

            span{
                color: #FFFFFF;
                font-size: 0.875rem;

                &.parentLabel{
                    padding-bottom: 0.5rem;
                    border-bottom: 0.0625rem solid #00ADEE;
                    border-radius: 0.25rem;
                    position: relative;

                    &::after{
                        content: '';
                        width: 0.0625rem;
                        height: 1.5625rem;
                        border-radius: 3.125rem;
                        background: #00ADEE;
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%,0);
                    }
                }
            }


            &.current{
                span{
                    color: #00ADEE;
                }
            }

            &:hover{

            }
        }
    }
}