@import 'devextreme/dist/css/dx.material.teal.light.css';
// @import 'devextreme/dist/css/dx.material.teal.dark.css';

.__dx_DataGrid_Component__{
    .dx-datagrid-header-panel{
        padding: 0;
        padding-bottom: 0.9375rem;
    }

    .column_configure_wrapper{
        width: 100%;
        @include flex(flex-end,center,row,unset);
        padding-bottom: 0.625rem;
    }

    &.light{
        .dx-header-row{
                background: $Day-Steelgrey05;
        }
    }

    &.dark{
        .dx-header-row{
            background: $Night-Steelgrey06;
        }
    }
}
