.component-input-wrapper{
    width: 100%;
    border: 0.0625rem solid $Day-Steelgrey06;
    background: $Day-Steelgrey01;
    border-radius: 0.25rem;
    position: relative;
    transition: $Default-Transition;
    padding: 0.0625rem;

    .input-label{
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        left: 1rem;
        transition: $Default-Transition;
        pointer-events: none;
        user-select: none;
        white-space: nowrap;
        max-width: 75%;
        text-overflow: ellipsis;
        overflow: hidden;
        
        
        span{
            color: $Day-Steelgrey12;
            transition: $Default-Transition;

            &.required-mark{
                color: $Day-Negative100 !important;
                font-weight: 900;
            }
        }
    }

    .input-element-wrapper{
        width: 100%;
        height: 100%;

        input{
            width: 100%;
            height: 100%;
            padding: 1rem 1rem 0 1rem;
            color: $Day-Steelgrey20;

            &.padding-right{
                padding-right: 2.1875rem;
            }
        }
    }

    .icon-password{
        position: absolute;
        right: 0.8125rem;
        top: 50%;
        transform: translate(0,-50%);
        @include centerEl;
        cursor: pointer;

        img{
            width: 1.125rem;
            pointer-events: none;
            user-select: none;
        }
    }

    .msg-text{
        margin-top: 0.5rem;
        p{
            font-size: 0.75rem;
            word-wrap: break-word;
        }
    }

    &.small{
        height: 2.625rem;

        .input-label > span{
            font-size: 0.875rem;
        }


        &.focused{
            .input-label{
                top: 0.5rem;
                span{
                    font-size: 0.75rem;
                }
            }
        }

        input {
            font-size: 0.875rem;
        }
    }

    &.medium{
        height: 3rem;

        .input-label > span {
            font-size: 0.875rem;
        }

        &.focused{
            .input-label{
                top: 0.625rem;
                span{
                    font-size: 0.75rem;
                }
            }
        }

        input {
            font-size: 1rem;
        }
    }

    &.large{
        height: 3.5rem;

        .input-label > span {
            font-size: 1rem;
        }

        &.focused{
            .input-label{
                top: 0.875rem;
                span{
                    font-size: 0.875rem;
                }
            }
        }

        input {
            font-size: 1rem;
        }
    }

    &.active{
        border: 0.0625rem solid rgba($Main-Blue,.5);

    }

    &.focused{

    }

    &.disabled{
        pointer-events: none;
        input,.input-label > span{
            color: $Day-Steelgrey09;
        }
    }

    &.status{
        &--error{
            border: 0.0625rem solid rgba($Day-Negative100,.6);
            .msg-text > p{
                color: $Day-Negative100;
            }
        }
        &--success{
            border: 0.0625rem solid rgba($Day-Positive100,.6);
            .msg-text > p{
                color: $Day-Positive100;
            }
        }
    }
}