.fileUploaderWrapper{
    // width: 100%;

    *{
        font-family: 'Helvetica_Neue_LT_GEO_400';
    }

    .fileUploaderContent{
        width: 100%;
        padding: 1rem;
        @include flex(center,center,column,unset);
        text-align: center;
        border: 0.0625rem dashed $Day-Steelgrey07;
        border-radius: 0.625rem;
        overflow: hidden;
        transition: $Default-Transition;

        &.activeDropzone{
            background: rgba($Day-Positive80,1) !important;
            border: 0.0625rem dashed $Day-Positive80 !important;

            .fileUploaderLabel > span {
                color: $Day-Steelgrey00
            }
            .iconWrapper svg {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(170%) contrast(102%);
            }
        }

        &.directionRow{
            @include flex(center,center,row,0.9375rem);
            text-align: unset;
            .fileUploaderLabel,.uploadAction {
                margin-top: 0 !important;
            }
        }

        .iconWrapper{
            pointer-events: none;
            user-select: none;
            svg{
                width: 2.75rem;
            }
        }

        .fileUploaderLabel{
            margin-top: 1.625rem;

            span{
                font-size: 0.875rem;
                color: $Day-TextPrimary;
            }
        }

        .validators{
            margin-top: 0.75rem;
        }

        .uploadAction{
            position: relative;
            width: 6.25rem;
            height: 2rem;
            @include centerEl;
            cursor: pointer;
            margin-top: 1.5rem;

            input{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                opacity: 0;
            }
        }

    }
}

:global(body.theme_dark){
    .fileUploaderWrapper{
        .fileUploaderContent{
            border: 0.0625rem dashed rgba($Night-Steelgrey11,.5);
            background: $Night-Steelgrey06;
        }

        .iconWrapper{
            svg{
                path{
                    stroke: $Night-Steelgrey11;
                }
            }
        }
        .fileUploaderLabel{
            span{
                color: $Night-Steelgrey20;
            }
        }
        .validators{
            span{
                color: $Night-Steelgrey11;
            }
        }
    }
}