.component-single-select-wrapper{
    width: 100%;
    .select-wrapper{
        width: 100%;
        position: relative;
        @include centerEl;

        .select-container{
            width: 100%;
            height: 100%;
            border: 0.0625rem solid $Day-Steelgrey06;
            transition: $Default-Transition;
            border-radius: 0.25rem;
            @include centerEl;

            .select-label{
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translate(0,-50%);
                transition: $Default-Transition;
                span{
                    transition: $Default-Transition;
                    color: $Day-Steelgrey12;
                    pointer-events: none;
                    user-select: none;
                }
            }

            .selected-option{
                @include centerEl;
                width: 100%;

                input{
                    width: 100%;
                    outline: none;
                    border: none;
                }
            }

            .collapse-action{
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translate(0,-50%);

                img{
                    width: 0.875rem;
                    transition: $Default-Transition;
                }
            }
        }

        &.active{

        }

        &.focused{

            &.small{
                .select-label > span{
                    font-size: 0.75rem;
                }    
            }
            &.medium{
                .select-label > span{
                    font-size: 0.75rem;
                }    
            }
            &.large{
                .select-label > span{
                    font-size: 0.875rem;
                }    
            }

            .select-label{
                top: 0.625rem;
            }
        }
        

        &.small{
            height: 2.625rem;

            input{
                height: 2.625rem;
            }

            .select-label > span{
                font-size: 0.875rem;
            }
        }
        &.medium{
            height: 3rem;

            input{
                height: 3rem;
            }

            .select-label > span{
                font-size: 0.875rem;

            }
        }
        &.large{
            height: 3.5rem;

            input{
                height: 3.5rem;
            }
            
            .select-label > span{
                font-size: 1rem;
            }
        }
    }

}