.select-wrapper{
    width: 100%;
    position: relative;

    @include centerEl;
    place-items: baseline;

    .select-container{
        width: 100%;
        height: 100%;
        border: 0.0625rem solid $Day-Steelgrey06;
        transition: $Default-Transition;
        border-radius: 0.25rem;
        padding: 0.0625rem;
        @include centerEl;

        .select-label{
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translate(0,-50%);
            transition: $Default-Transition;
            span{
                transition: $Default-Transition;
                color: $Day-Steelgrey12;
                pointer-events: none;
                user-select: none;

                &.required-mark{
                    color: $Day-Negative100;
                }
            }
        }

        .selected-option{
            width: 100%;
            height: 100%;
            display: grid;
            place-items: end;

            input{
                width: 100%;
                height: calc(100% - 1rem);
                outline: none;
                border: none;
                font-size: 1rem;
                padding: 0.875rem;
                padding-right: 4.0625rem;
                font-weight: 400;
            }
        }

        .clear-action{
            @include centerEl;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 2.5rem;
            transform: translate(0,-50%);

            img{
                width: 1.125rem;
            }
        }

        .collapse-action{
            @include centerEl;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translate(0,-50%);
            cursor: pointer;

            img{
                width: 0.875rem;
                transition: $Default-Transition;
            }
        }
    
        &.active{

        }
    }

    .msg-text{
        margin-top: 0.5rem;
        text-align: left;
        p{
            font-size: 0.75rem;
            word-wrap: break-word;
        }
    }


    &.status{
        &--error{
            .select-container{
                border: 0.0625rem solid rgba($Day-Negative100,.6);
            }
            .msg-text > p{
                color: $Day-Negative100;
            }
        }
        &--success{
            .select-container{
                border: 0.0625rem solid rgba($Day-Positive100,.6);
            }
            .msg-text > p{
                color: $Day-Positive100;
            }
        }
    }

    &.focused{

        &.small{
            .select-label > span{
                font-size: 0.75rem;
            }    
        }
        &.medium{
            .select-label > span{
                font-size: 0.75rem;
            }    
        }
        &.large{
            .select-label > span{
                font-size: 0.875rem;
            }    
        }

        .select-label{
            top: 0.75rem !important;
        }
    }
    

    &.small{
        // height: 2.625rem;

        .select-label > span{
            font-size: 0.875rem;
        }
    }
    &.medium{
        height: 3rem;

        .select-label > span{
            font-size: 0.875rem;

        }
    }
    &.large{
        height: 3.5rem;
        
        .select-label > span{
            font-size: 1rem;
        }
    }
}

.collapsable-options{
    width: 100%;
    max-height: 21rem;
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    transition: $Default-Transition;
    border: 0.0625rem solid $Day-Steelgrey06;
    background: $Day-Steelgrey00;
    border-radius: 0.25rem;
    overflow: auto;

    ul{
        width: 100%;

        li{
            width: 100%;
            padding: 1rem;
            transition: $Default-Transition;
            position: relative;
            cursor: pointer;

            &:hover{
                background: $Day-Steelgrey03;
            }

            span{
                color: $Day-TextPrimary;
                font-size: 0.9375rem;
                word-break: break-all;
            }

            &.hidden{
                display: none;
            }
            &.visible{
                display: block;
            }

            &.selected{
                background: $Day-Steelgrey03;
                &::before{
                    content: '';
                    width: 0.1875rem;
                    height: 100%;
                    background: $Day-Positive80;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

            }
        }
    }
}