*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica-Light';
}

ul{
    list-style: none;
    list-style-type: none;
}

input,button{
    outline: none;
    border: none;
}