*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica-Regular';
    
    &::-webkit-scrollbar {
        display: block !important;
        width: 0.125rem;
      }
  
    &::-webkit-scrollbar-thumb {
        background: #00ADEE !important;
        border-radius: 0.375rem;
    }
}

body{
    background: #EDEFF2;
}

ul{
    list-style: none;
    list-style-type: none;
}

a{
    text-decoration: none;
}

input,button{
    outline: none;
    border: none;
    background: none;
}

.content-wrapper-main-pages{
    height: 100vh;
    display: grid;
    grid-template-columns: 15.3125rem calc(100% - 15.3125rem);
    justify-content: left;
    z-index: 120;

    .content_sidebar_navigation{
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: 0 0 1.25rem rgba(#31383A,.5);
        border-right: 0.3125rem solid rgba($Main-Blue-Light,.5);
        // background: #FFFFFF;

    }
    .content_main_wrapper{
        overflow: auto;
        padding: 1.25rem 1.875rem;
    }
}