.fileBlockWrapper{
    width: 100%;
    border: 0.0625rem solid $Day-Steelgrey05;
    background: Day-Steelgrey04;
    box-shadow: 0 0 1.25rem rgba($Day-Steelgrey08,.2);
    position: relative;
    padding: 0.625rem 1rem;
    border-radius: 0.375rem;
    @include flex(space-between,center,row,unset);
    margin-top: 0.9375rem;
    transition: $Default-Transition;
    animation: fadeEnter .4s forwards;

    &:hover{

        .deleteFile{
            opacity: 1;
            pointer-events: all;
        }
    }

    @keyframes fadeEnter {
        from {
            opacity: 0;
            transform: translateX(0.625rem)
        }
        to {
            opacity: 1;
            transform: translateX(0)
        }
    }

    .leftSide{
        width: 80%;
        @include flex(flex-start,center,row,1rem);
        
        .filePreviewFormat{
            position: relative;
            @include centerEl;

            .fileFormat{
                max-width: 2.1875rem;
                position: absolute;
                top: 50%;
                transform: translate(0,-50%);
                left: -0.3125rem;
                border: 0.0625rem solid #41B2FC;
                background: $Day-Steelgrey00;
                border-radius: 0.125rem;
                padding: 0.0625rem 0.1875rem;
                @include centerEl;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                span{
                    font-size: 0.5rem;
                    color: #41B2FC;
                }
            }

            svg{
                width: 1.25rem;
            }
        }
    
        .fileName{
            width: 100%;
            
            span{
                color: $Day-TextPrimary;
                font-size: 0.8125rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                max-width: 90%;
            }
        }
    }

    .rightSide{
        .fileSize{
            span{
                font-size: 0.8125rem;
                color: $Day-TextPrimary;
            }
        }
    }

    .deleteFile{
        width: 1.375rem;
        height: 1.375rem;
        position: absolute;
        border-radius: 50%;
        @include centerEl;
        background: rgba($Day-Steelgrey10,1);
        top: -0.5rem;
        right: -0.5rem;
        overflow: hidden;
        transition: $Default-Transition;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;

        &:hover{
            background: $Day-Negative100;
        }

        svg{
            width: calc(100% - 0.8125rem);
            object-fit: contain;
            path{
                fill: #FFFFFF;
            }
        }
    }

}

:global(body.theme_dark){
    .fileBlockWrapper{
        background: $Night-Steelgrey06;
        border: 0.0625rem solid $Night-Steelgrey08;
        box-shadow: 0 0 0.3125rem rgba($Night-Steelgrey08,.4);

        .leftSide{
            .fileName{
                span{
                    color: $Night-Steelgrey20;
                }
            }
        }
        .rightSide{
            .fileSize{
                span{
                    color: $Night-Steelgrey20;
                }
            }
        }
    }
}