.hidden{
    display: none;
}

.visible{
    display: block;
}

ul{
    width: 100%;
    max-height: 16rem;
    overflow: auto;
    transition: $Default-Transition;
    
    &.withChildren{
        display: none;
        & > li{
            margin-left: 1rem;
        }
        
        &.expanded{
            display: block;
        }
    }


    li{
        // margin-top: 0px;

        &.selected{
            .nodeContent{

            }
        }

        .nodeContent{
            @include flex(flex-start,center,row,unset);
            transition: $Default-Transition;
            padding: 0.625rem 0.3125rem;
            
            &:hover{
                background: $Day-Steelgrey01;
            }

            .checkbox{
                margin-left: 0.625rem;
                cursor: pointer;
            }

            .collapseIcon{
                @include centerEl;
                cursor: pointer;
                transition: $Default-Transition;

                &.expanded{
                    img{
                        transform: rotate(-180deg);
                    }
                }

                img{
                    transition: $Default-Transition;
                    width: 0.875rem;
                }
            }
            
            .nodeLabel{
                margin-left: 0.625rem;                
                span{
                    color: $Day-TextPrimary;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.bottomActions{
    margin-top: 0.9375rem;
    padding: 0.5rem;
    border-top: 0.0625rem solid $Day-Steelgrey04;

    .selectActions{
        width: 100%;
        @include flex(space-between,center,row,unset);

        div > {
            span{
                cursor: pointer;
                color: $Day-Steelgrey20;
                font-size: 0.75rem;
                font-weight: 700;
                user-select: none;
            }
        }
    }

    .apply{
        margin-top: 0.9375rem;
    }
}