ul{
    width: 100%;
    transition: $Default-Transition;
    
    &.withChildren{
        display: none;

        &.expanded{
            display: block;
        }
    }


    li{
        // margin-top: 0px;
        margin-left: 1rem;

        &.selected{
            .nodeContent{

            }
        }

        .nodeContent{
            @include flex(flex-start,center,row,unset);
            transition: $Default-Transition;
            padding: 0.625rem 0.3125rem;
            
            &:hover{
                background: $Day-Steelgrey01;
            }

            .checkbox{
                margin-left: 0.625rem;
                cursor: pointer;
            }

            .collapseIcon{
                @include centerEl;
                transition: $Default-Transition;
                img{
                    width: 0.875rem;
                }
            }
            
            .nodeLabel{
                margin-left: 0.625rem;                
                span{
                    color: $Day-TextPrimary;
                    font-size: 0.875rem;
                }
            }
        }

    }
}